@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: myFont;
  src: url(../Proxima-Nova-Font.otf);
}
body,
span {
  font-family: myFont !important;
}

a {
  color: #000;
  font-size: 14px;
  font-family: myFont;
}
a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

p {
  color: #555;
  font-size: 14px;
  font-family: myFont;
}

span,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-weight: bold;
  margin: 0.5rem 0;
}

hr {
  border-top: 1px solid #ded6d6;
}

.d-none {
  display: none;
}

.d-block {
  display: flex;
}

.non-active-opacity {
  opacity: 0.3;
}

.active-opacity {
  opacity: 1;
}

@-webkit-keyframes icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.title img {
  height: 40px;
  margin-right: 0.5rem;
  animation: icon 2s ease-in-out infinite alternate-reverse both;
}
.title h4 {
  font-weight: bold;
  color: #ff0002;
  margin: 0;
}
.title span {
  font-weight: 400;
  font-size: 14px;
}

.sub-title {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sub-title:hover {
  color: #ff0002;
  letter-spacing: 1px;
}

.active {
  color: #ff0002;
}

.pre-loader {
  background: #fff url(../img/pre-loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100000;
}

.img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}

.head {
  border-bottom: 1px solid #ded6d6;
  margin-bottom: 10px;
}
.head .head-info {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 85% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 85% 50%, 75% 100%, 0% 100%);
  padding-right: 6rem;
}
.head .head-info p {
  margin: 0;
  color: #fff;
  padding: 0.2rem 1rem;
}
.head .uk-icon {
  color: #000;
}
.head .head-icon .head-contact {
  display: inline-block;
  border-right: 1px solid #ded6d6;
  padding-right: 0.5rem;
}
.head .head-icon .head-contact a {
  display: block;
  transition: all 0.3s ease-in-out;
}
.head .head-icon .head-contact a:hover {
  color: #ff0002;
  letter-spacing: 1px;
}

.site-nav {
  background: #fff;
}
.site-nav .logo {
  display: flex;
  align-items: center;
}
.site-nav .logo img {
  height: 60px;
}
.site-nav .logo .p1 {
  color: #ff0002;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 18px;
  margin-bottom: 5px;
}
.site-nav .logo .p2 {
  color: #011cfb;
  font-size: 12px;
  margin: 0;
}
.site-nav .navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav .navbar li .active {
  color: #ff0002;
}
.site-nav .navbar li .nav-item {
  font-size: 15px;
  text-transform: capitalize;
  position: relative;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  padding: 0.3rem 0.7rem;
  display: block;
}
.site-nav .navbar li .nav-item:hover {
  color: #ff0002;
}
.site-nav .navbar li .nav-item:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: 100%;
  left: 0.05em;
  right: 0.05em;
  background: #ff0002;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}
.site-nav .navbar li .nav-item:hover:after {
  transform: scaleX(1);
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: 0 50%;
}
.site-nav .navbar li:nth-child(2):hover .nav-item:after, .site-nav .navbar li:nth-child(3):hover .nav-item:after, .site-nav .navbar li:nth-child(4):hover .nav-item:after, .site-nav .navbar li:nth-child(5):hover .nav-item:after, .site-nav .navbar li:nth-child(6):hover .nav-item:after {
  display: none;
}
.site-nav .navbar .uk-navbar-dropdown {
  display: block;
  position: absolute;
  z-index: 1024;
  box-sizing: border-box;
  width: 200px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  top: 150%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.site-nav .navbar .uk-navbar-dropdown .dropdown-list {
  color: #555;
  position: relative;
  display: inline-block;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
.site-nav .navbar .uk-navbar-dropdown .dropdown-list:hover {
  letter-spacing: 1px;
  color: #000;
}
.site-nav .navbar .dropdown:hover .uk-navbar-dropdown {
  top: 100% !important;
  opacity: 1;
  visibility: visible;
}
.site-nav .navbar .dropdown:hover .nav-item {
  color: #ff0002;
}
.site-nav .navbar .uk-icon > svg {
  transition: all 0.3s ease-in-out;
  color: #000;
  margin-left: 0.3rem;
  width: 15px;
}
.site-nav .navbar .dropdown:hover .uk-icon > svg {
  transform: rotate(-180deg);
  color: #ff0002;
}
.site-nav .hamburger-menu {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.site-nav .hamburger-menu a {
  color: #555;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.site-nav .hamburger-menu a span {
  display: block;
  text-align: center;
  line-height: 45px;
}
.site-nav .hamburger-menu a:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: none;
}
.site-nav .hamburger-menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  border-radius: 9px 0 0 9px;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50%;
  transition: 0.5s;
  z-index: -1;
}
.site-nav .hamburger-menu a:hover::before {
  height: 180%;
}

.uk-active {
  box-shadow: 0 -2px 5px #555;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#offcanvas-slide .uk-offcanvas-bar {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  cursor: default;
  width: 250px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#offcanvas-slide .uk-offcanvas-bar .uk-accordion-title::before {
  display: none;
}
#offcanvas-slide .uk-offcanvas-bar .uk-offcanvas-close {
  color: #000;
  transition: all 0.3s ease-in-out;
}
#offcanvas-slide .uk-offcanvas-bar .uk-offcanvas-close:hover {
  color: #ff0002;
}
#offcanvas-slide .uk-offcanvas-bar .logo img {
  width: 130px;
  margin: 0 auto;
  display: block;
}
#offcanvas-slide .uk-offcanvas-bar .navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#offcanvas-slide .uk-offcanvas-bar .navbar li {
  border-bottom: 1px solid #ded6d6;
}
#offcanvas-slide .uk-offcanvas-bar .navbar li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  justify-content: flex-start;
  display: block;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
#offcanvas-slide .uk-offcanvas-bar .navbar li a:hover {
  letter-spacing: 1px;
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-accordion-content {
  background: rgb(255, 255, 255);
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-accordion-content .uk-nav li {
  border-bottom: none;
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-accordion-content .uk-nav li a {
  font-size: 14px;
  padding: 0.7rem 1rem;
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-accordion-content .dropdown-list {
  color: #555;
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-accordion-title > span {
  transition: transform 0.5s;
  margin-left: 0.3rem;
  width: 15px;
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-open > .uk-accordion-title > span {
  transform: rotate(90deg);
}
#offcanvas-slide .uk-offcanvas-bar .navbar .uk-open > .uk-accordion-title {
  color: #ff0002;
  letter-spacing: 1px;
}
#offcanvas-slide .uk-offcanvas-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#offcanvas-slide .overlay {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.hero-banner {
  background-image: url(../img/img.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 200px);
  position: relative;
  background-position: center;
}
.hero-banner::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}

.section-benefit {
  margin-top: -60px !important;
}
.section-benefit .benefit-wrapper {
  background: #ffffff;
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08), -6px -5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  position: relative;
  padding: 1rem;
}
.section-benefit .benefit-wrapper .benefit-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: -30px;
  left: 20px;
}
.section-benefit .benefit-wrapper .benefit-icon img {
  height: 40px;
}
.section-benefit .benefit-wrapper .bg1 {
  background: #ff0002;
}
.section-benefit .benefit-wrapper .bg2 {
  background: #011cfb;
}
.section-benefit .benefit-wrapper .bg3 {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
}
.section-benefit .benefit-wrapper h4 {
  text-transform: capitalize;
  font-weight: bold;
}

.section-what-we-do {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  position: relative;
}
.section-what-we-do .img {
  background: linear-gradient(114.71deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.section-what-we-do .img img {
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.section-what-we-do .txt p {
  line-height: 35px;
  text-align: justify;
  color: #fff;
  font-size: 16px;
}
.section-what-we-do .txt .uk-button {
  border-radius: 9px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.section-what-we-do .txt .uk-button:hover .uk-icon {
  transform: rotate(0);
}
.section-what-we-do .txt .uk-icon {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.section-what-we-do::after {
  content: url(../img/sticker.png);
  position: absolute;
  top: 0;
  right: 30px;
}

.section-news .news-wrapper .news-img {
  position: relative;
  overflow: hidden;
}
.section-news .news-wrapper .news-img .img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.section-news .news-wrapper .news-img img {
  transition: all 0.3s ease-in-out;
}
.section-news .news-wrapper .news-img:hover img {
  transform: scale(1.1);
}
.section-news .news-wrapper .new-icon,
.section-news .news-wrapper span {
  color: #555;
  font-size: 12px;
}
.section-news .swiper-button-prev:after {
  content: url(../img/prev.png);
}
.section-news .swiper-button-next:after {
  content: url(../img/next.png);
}
.section-news .swiper-button-next {
  left: 10px;
  top: 55%;
}
.section-news .swiper-button-prev {
  top: 35%;
}

.section-events .events-wrapper .text {
  text-align: center;
}
.section-events .events-wrapper .text span {
  color: #555;
  font-size: 12px;
}
.section-events .events-wrapper .events-img {
  position: relative;
  overflow: hidden;
}
.section-events .events-wrapper .events-img .img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.section-events .events-wrapper .events-img img {
  transition: all 0.3s ease-in-out;
}
.section-events .events-wrapper .events-img:hover img {
  transform: scale(1.1);
}
.section-events .swiper-button-prev:after {
  content: url(../img/prev.png);
}
.section-events .swiper-button-next:after {
  content: url(../img/next.png);
}
.section-events .swiper-button-next {
  left: 10px;
  top: 50%;
}
.section-events .swiper-button-prev {
  top: 25%;
}

.section-vacancy .vacancy-wrapper .uk-icon,
.section-vacancy .vacancy-wrapper span {
  font-size: 12px;
  color: #555;
}
.section-vacancy .vacancy-wrapper .vacancy-img {
  position: relative;
}
.section-vacancy .vacancy-wrapper .vacancy-img .img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.section-vacancy .vacancy-wrapper .vacancy-img::before {
  content: "";
  top: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(112.21deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 0.3s ease-in-out;
}
.section-vacancy .vacancy-wrapper .know-more-btn {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.section-vacancy .vacancy-wrapper .know-more-btn .uk-button {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.section-vacancy .vacancy-wrapper .know-more-btn .uk-button a {
  text-transform: capitalize;
  color: #fff;
}
.section-vacancy .vacancy-wrapper .know-more-btn .uk-button:hover {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
}
.section-vacancy .vacancy-wrapper .know-more-btn .uk-button:hover .uk-icon {
  transform: rotate(0);
}
.section-vacancy .vacancy-wrapper .know-more-btn .uk-icon {
  transform: rotate(-45deg);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.section-vacancy .vacancy-wrapper:hover .know-more-btn {
  top: 50%;
}
.section-vacancy .vacancy-wrapper:hover .uk-button {
  transform: scale(1);
}
.section-vacancy .vacancy-wrapper:hover .vacancy-img::before {
  opacity: 1;
}
.section-vacancy .swiper-button-prev:after {
  content: url(../img/prev.png);
}
.section-vacancy .swiper-button-next:after {
  content: url(../img/next.png);
}
.section-vacancy .swiper-button-next {
  left: 10px;
  top: 60%;
}
.section-vacancy .swiper-button-prev {
  top: 35%;
}

.section-gallery {
  background-image: url(../img/img.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.section-gallery .gallery-wrapper .gallery-img {
  position: relative;
  overflow: hidden;
}
.section-gallery .gallery-wrapper .gallery-img .img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.section-gallery .gallery-wrapper .gallery-img img {
  transition: all 0.3s ease-in-out;
}
.section-gallery .gallery-wrapper .gallery-img:hover img {
  transform: scale(1.1);
}
.section-gallery .swiper-button-prev:after {
  content: url(../img/prev.png);
}
.section-gallery .swiper-button-next:after {
  content: url(../img/next.png);
}
.section-gallery .swiper-button-next {
  left: 10px;
  top: 60%;
}
.section-gallery .swiper-button-prev {
  top: 35%;
}
.section-gallery .photo-btn {
  position: absolute;
  top: 45%;
  left: 40px;
  transform: translateX(-40%);
  z-index: 100;
  cursor: pointer;
}
.section-gallery .photo-btn img {
  height: 50px;
}
.section-gallery .video-btn {
  position: absolute;
  top: 60%;
  left: 50px;
  transform: translateX(-60%);
  z-index: 100;
  cursor: pointer;
}
.section-gallery .video-btn img {
  height: 50px;
}
.section-gallery::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
}

.section-partners .partner-wrapper {
  margin-bottom: 1rem;
}

.swiper {
  padding-left: 50px;
}

footer {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  position: relative;
  padding-top: 3rem;
  margin-top: 7rem;
}
footer .footer-wrapper {
  margin-top: 3rem;
}
footer .footer-wrapper h4 {
  font-weight: bold;
  font-style: 14px;
  color: #fff;
  margin: 0.5rem 0;
  line-height: 25px;
}
footer .footer-wrapper h4 span {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
footer .footer-wrapper .footer-info img {
  height: 60px;
  margin-right: 1rem;
}
footer .footer-wrapper .footer-info p {
  color: #fff;
}
footer .footer-wrapper .footer-info .footer-btn .uk-button {
  border-radius: 9px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
footer .footer-wrapper .footer-info .footer-btn .uk-button:hover .uk-icon {
  transform: rotate(0);
}
footer .footer-wrapper .footer-info .footer-btn a {
  color: #fff;
}
footer .footer-wrapper .footer-info .footer-btn .uk-icon {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
footer .footer-wrapper .quick-links a {
  color: #fff;
  font-size: 14px;
}
footer .footer-wrapper .quick-links .uk-list .uk-icon {
  transform: rotate(-45deg);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
footer .footer-wrapper .quick-links .uk-list li {
  display: table;
}
footer .footer-wrapper .quick-links .uk-list li:hover .uk-icon {
  transform: rotate(0deg);
}
footer .footer-wrapper .contact-info p,
footer .footer-wrapper .contact-info li,
footer .footer-wrapper .contact-info a {
  color: #fff;
  font-size: 14px;
}
footer .footer-wrapper .contact-info .uk-icon {
  color: #fff;
  margin-right: 0.5rem;
}
footer .foot {
  padding-bottom: 1.5rem;
}
footer .foot span {
  color: #fff;
  font-size: 14px;
}
footer .foot span a {
  color: #fff;
}
footer .foot .uk-icon {
  color: #fff;
}
footer .foot .f,
footer .foot .i,
footer .foot .t {
  transition: all 0.3s ease-in-out;
}
footer .foot .f:hover,
footer .foot .i:hover,
footer .foot .t:hover {
  transform: scale(1.2);
}
footer::after {
  content: url(../img/sticker.png);
  position: absolute;
  top: -30px;
  right: 30px;
}
footer .footer-logo {
  position: absolute;
  top: -100px;
  left: 30px;
}

.go-to-top {
  cursor: pointer;
  display: inline-block;
  right: 3%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1024;
  transition: all 1s linear;
}
.go-to-top .go-to-top-icon {
  display: block;
}
.go-to-top .go-to-top-icon img {
  transition: all 0.3s ease-in-out;
}
.go-to-top .go-to-top-icon:hover img {
  transform: rotate(-35deg);
}

.bread-crumb {
  padding: 2rem 0;
  position: relative;
  z-index: 10;
}
.bread-crumb .bread-crumb-content .bread-crumb-title h3 {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.bread-crumb .bread-crumb-content .bread-crumb-title img {
  height: 70px;
  margin-right: 1rem;
}
.bread-crumb .bread-crumb-content .bread-crumb-link span {
  color: #ff0002;
  font-weight: bold;
}
.bread-crumb .bread-crumb-content .bread-crumb-link .uk-icon,
.bread-crumb .bread-crumb-content .bread-crumb-link a {
  color: #fff;
  font-weight: bold;
  margin-right: 0.5rem;
}
.bread-crumb .bread-crumb-content .bread-crumb-link a {
  border-right: 1px solid #fff;
  padding-right: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.bread-crumb .bread-crumb-content .bread-crumb-link a:hover {
  color: #ff0002;
}
.bread-crumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(214, 187, 64, 0.86) 0%, rgba(198, 132, 1, 0.86) 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

.news-content .main-content .img-bg {
  position: relative;
}
.news-content .main-content .img-bg img {
  width: 100%;
  height: 100%;
}
.news-content .main-content .img-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.news-content .main-content .img-bg1 img {
  width: 100%;
  height: 100%;
}
.news-content .main-content .img-content {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.news-content .main-content .img-content span,
.news-content .main-content .img-content h3 {
  color: #fff;
  font-size: 14px;
}
.news-content .main-content .img-content h3 {
  margin: 0.5rem 0;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
}
.news-content .main-content .img-content h3:hover {
  color: #ff0002;
}
.news-content .main-content .img-content1 span {
  color: #555;
  font-size: 14px;
  margin-top: 0.5rem;
}
.news-content .main-content .img-content1 h3 {
  margin: 0.7rem 0;
  font-weight: bold;
  font-size: 17px;
  color: #000;
}
.news-content .main-content .img-content1 p {
  color: #555;
  font-size: 15px;
}
.news-content .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.news-content .sidebar .uk-search-icon {
  background: #ff0002;
  color: #fff;
  border-radius: 0 9px 9px 0;
}
.news-content .sidebar .uk-search-input {
  border: 1px solid #ff0002;
  border-radius: 9px;
}
.news-content .sidebar .category {
  padding-bottom: 0.1rem;
}
.news-content .sidebar .category .uk-list .uk-icon {
  transform: rotate(-45deg);
  color: #000;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.news-content .sidebar .category .uk-list a {
  transition: all 0.3s ease-in-out;
}
.news-content .sidebar .category .uk-list li {
  display: table;
}
.news-content .sidebar .category .uk-list li:hover .uk-icon {
  transform: rotate(0deg);
  color: #ff0002;
}
.news-content .sidebar .category .uk-list li:hover a {
  color: #ff0002;
}
.news-content .sidebar .latest-news {
  padding-bottom: 1.5rem;
}
.news-content .sidebar .latest-news h4 {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin: 0;
  font-size: 18px;
}
.news-content .sidebar .latest-news h4:hover {
  color: #ff0002;
}
.news-content .sidebar .social-media .uk-icon {
  transition: all 0.3s ease-in-out;
}
.news-content .sidebar .social-media a:hover .uk-icon {
  transform: scale(1.1);
}
.news-content .swiper-button-prev:after {
  content: url(../img/prev.png);
}
.news-content .swiper-button-next:after {
  content: url(../img/next.png);
}
.news-content .swiper-button-next {
  left: 10px;
  top: 63%;
}
.news-content .swiper-button-prev {
  top: 40%;
}

.gallery .gallery-btn {
  text-align: center;
}
.gallery .gallery-wrapper {
  margin-bottom: 3rem;
}
.gallery .gallery-wrapper .gallery-img {
  position: relative;
  overflow: hidden;
}
.gallery .gallery-wrapper .gallery-img .img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
     border-image: linear-gradient(112.21deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.gallery .gallery-wrapper .gallery-img img {
  transition: all 0.3s ease-in-out;
}
.gallery .gallery-wrapper .gallery-img:hover img {
  transform: scale(1.1);
}

.board-member-wrapper,
.account-team-wrapper,
.management-team-wrapper {
  margin-bottom: 3rem;
}
.board-member-wrapper .board-member-img,
.board-member-wrapper .account-team-img,
.board-member-wrapper .management-team-img,
.account-team-wrapper .board-member-img,
.account-team-wrapper .account-team-img,
.account-team-wrapper .management-team-img,
.management-team-wrapper .board-member-img,
.management-team-wrapper .account-team-img,
.management-team-wrapper .management-team-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.board-member-wrapper .board-member-img img,
.board-member-wrapper .account-team-img img,
.board-member-wrapper .management-team-img img,
.account-team-wrapper .board-member-img img,
.account-team-wrapper .account-team-img img,
.account-team-wrapper .management-team-img img,
.management-team-wrapper .board-member-img img,
.management-team-wrapper .account-team-img img,
.management-team-wrapper .management-team-img img {
  transition: all 0.3s ease-in-out;
}
.board-member-wrapper .board-member-img:hover img,
.board-member-wrapper .account-team-img:hover img,
.board-member-wrapper .management-team-img:hover img,
.account-team-wrapper .board-member-img:hover img,
.account-team-wrapper .account-team-img:hover img,
.account-team-wrapper .management-team-img:hover img,
.management-team-wrapper .board-member-img:hover img,
.management-team-wrapper .account-team-img:hover img,
.management-team-wrapper .management-team-img:hover img {
  transform: scale(1.1);
}
.board-member-wrapper h5,
.board-member-wrapper p,
.account-team-wrapper h5,
.account-team-wrapper p,
.management-team-wrapper h5,
.management-team-wrapper p {
  text-align: center;
}
.board-member-wrapper p,
.account-team-wrapper p,
.management-team-wrapper p {
  margin: 0;
}

.organization-history .organization-history-wrapper p {
  text-align: justify;
  line-height: 33px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.organization-history .organization-history-wrapper .organization-history-img {
  position: relative;
  padding: 3rem;
}
.organization-history .organization-history-wrapper .organization-history-img .org-line {
  background-image: url(../img/line.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -1;
  animation: scale 2s ease-in-out infinite alternate-reverse both;
}
.organization-history .organization-history-benefit .discover .org-ben-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.organization-history .product-features-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.organization-history .product-features-wrapper .product-features-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.19);
}
.organization-history .product-features-wrapper .product-features-list h5 {
  font-size: 30px;
  display: block;
  margin: 0;
  padding: 0 0.7rem;
  font-weight: bold;
  background: #ff0002;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.organization-history .product-features-wrapper .product-features-content {
  margin-left: 30px;
}
.organization-history .product-features-wrapper .product-features-content p {
  background: aliceblue;
  padding: 1rem;
  padding-left: 3rem;
  margin: 0;
}

.vacancy .vacancy-content h4 {
  font-weight: bold;
  color: #ff0002;
  margin: 0;
}
.vacancy .vacancy-content h2 {
  font-weight: bold;
  margin: 0;
}

.uk-table th {
  background: #ededed;
}
.uk-table td,
.uk-table th {
  border: 1px solid #e5e5e5;
}

.service p {
  text-align: justify;
  line-height: 33px;
}

.contact h4 {
  color: #ff0002;
}
.contact .contact-box {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 3rem;
}
.contact .contact-box p {
  margin: 0.5rem 0;
}
.contact .contact-box .uk-input {
  margin-bottom: 1rem;
  border-radius: 9px;
}
.contact .contact-box .uk-button {
  background: linear-gradient(180deg, #d6bb40 0%, #c68401 100%);
  border-radius: 9px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  margin-top: 0.5rem;
}
.contact .contact-box .uk-button:hover {
  background: transparent;
  border: 1px solid #ded6d6;
  color: #000;
}
.contact .contact-detail {
  margin-top: 3rem;
}
.contact .contact-detail h5 {
  color: #ff0002;
  margin: 0.5rem 0;
}
.contact .contact-detail i {
  color: #000;
}
.contact .contact-detail p {
  margin: 0.5rem 0;
}

@media (max-width: 639.9px) {
  .section-benefit .benefit-wrapper {
    margin-bottom: 3rem;
  }
  .section-gallery .photo-btn {
    top: 3% !important;
    left: 47% !important;
    transform: translateX(-47%) !important;
  }
  .section-gallery .video-btn {
    top: 3% !important;
    left: 60% !important;
    transform: translateX(-60%) !important;
  }
  .main-content .news-wrapper {
    width: 100% !important;
  }
  .bread-crumb .bread-crumb-content .bread-crumb-title h3 {
    font-size: 16px;
  }
  .bread-crumb .bread-crumb-content .bread-crumb-title img {
    height: 35px !important;
  }
  .vacancy .img-border {
    width: 100% !important;
  }
}
@media (max-width: 679.9px) {
  .head .head-icon {
    margin: 0.5rem;
  }
}
@media (max-width: 767.9px) {
  .news-content .sidebar .sidebar-content {
    flex-direction: column;
  }
  .news-content .sidebar .sidebar-content .category,
.news-content .sidebar .sidebar-content .latest-news,
.news-content .sidebar .sidebar-content .social-media {
    width: 100% !important;
    margin: 0 auto;
  }
  .news-content .sidebar .sidebar-content .latest-news {
    margin-top: 1rem !important;
  }
  .news-content .sidebar .sidebar-content .social-media {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 936.9px) {
  .hero-banner {
    height: 363px;
    background-attachment: initial;
    background-position: center;
  }
}
@media (max-width: 959.9px) {
  .section-what-we-do .txt p {
    line-height: 30px;
    margin-top: 1rem;
  }
  footer .footer-wrapper .quick-links,
footer .footer-wrapper .contact-info {
    margin-left: 0 !important;
    margin-top: 2rem;
  }
  .section-gallery .photo-btn {
    top: 10%;
    left: 45%;
    transform: translateX(-45%);
  }
  .section-gallery .video-btn {
    top: 10%;
    left: 55%;
    transform: translateX(-55%);
  }
  .news-content .main-content .news-wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .news-content .sidebar {
    position: static;
  }
  .news-content .sidebar .sidebar-content {
    display: flex;
  }
  .news-content .sidebar .sidebar-content .category,
.news-content .sidebar .sidebar-content .latest-news,
.news-content .sidebar .sidebar-content .social-media {
    width: 33.3%;
  }
  .vacancy .img-border {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */